body {
    background-color: lightblue;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Spectral SC', serif;
}

p {
    font-family: 'Spectral SC', serif;
    font-size: 20px;
}
.pomodoro-estimate {
     font-weight: bold;
     color: #F44336 ;
     background-color: #F5F5F5 ;
     border-radius: 50px;
     font-size: 14px;
     padding: 5px 10px 5px 10px;
}
#add-new-todo-button{
 font-size: 20px;
 text-align: center;
 color: #FFF;
 outline: none;
 border-style: none;
 padding: 10px;
 border-radius: 3px;
 box-shadow: 2px 2px 1px #90A4AE ;
 background-color: #03A9F4 ;
 margin-top: 10px;
 font-family: 'Spectral SC', serif;
}

ul, li, a {
    padding: 15px;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0pt;
    font-family: 'Spectral SC', serif;
}
#add-new-todo-button:active{
 box-shadow: 1px 1px 1px #90A4AE ;
}
body {
    background-image: url(https://wallpaperscraft.com/image/spots_background_light_solid_color_69091_2560x1600.jpg);
    background-size: cover; 
    background-position: top right;
    background-repeat: no-repeat;} 
li:hover{
  background-color: #E1F5FE;
  border-radius: 3px;
}
.completed-todo{
  text-decoration: line-through;
}